<div class="container-fluid bg_img   ">
  <div class="container    ">
    <div class="d-flex justify-content-center p-5">

      <%= search_form_for @q, url: root_path do |f| %>
      <div class="d-flex mx-auto">
        <%= f.search_field :tags_alltags_cont, class: "form-control d-flex", placeholder: "Search" %>

        <%= f.submit class: "btn btn-primary mx-2" %></div>

      <% end %>

    </div>

    <div class="col-12 row">

      <div class="row row-cols-1 row-cols-md-3 g-4">

        <% @homes.each do |home| %>

        <div class="col ">
          <div class="card h-100 rounded border p-2 image">
            <%if home.cover.attached?%>
            <%= image_tag url_for(home.cover),style:"height:15rem"%>
            <%end%>
            <div class="card-body text-center text-color:dark">
              <h5 class="card-title"><%= link_to home.audioname, home , style: "text-decoration:none;color:black"%></h5>
              <%= link_to "play", home ,class:"btn btn-primary mt-2" %>

            </div>
          </div>
        </div>

        <% end %>
      </div>
    </div>
  </div>









